@if (paginator(); as _paginator) {
  <bod-data-table #dt [dataSource]="_paginator" [columns]="columnas()" [showActionsColumn]="true">
    <ng-template #rowActions let-row>
      @if (row.estadoFactura === 'PENDIENTE') {
        <p-button label="PAGAR" outlined rounded (onClick)="createPago(row)" />
      }
    </ng-template>
    <ng-template #caption>
      <bod-table-toolbar
        (searchChange)="dt.filterGlobal($event, 'contains')"
        [vistas]="vistas()"
        [selectedVista]="_paginator.uuidVista() ?? null"
        (selectedVistaChange)="onVistaChange($event)"
      />
    </ng-template>
  </bod-data-table>
}
